.vscode/

config/.env
.env*
config/.env
src/.env
  
venv/

# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints


# Flask stuff:
instance/
.webassets-cache

#log
src/nohup.out
nohop.out

#AWS 
eclubkey.pem
